In [28]:
# Recopilación y Limpieza de Datos: Los estudiantes deben identificar y recopilar un conjunto de datos relevante para el proyecto. 
# Luego, deben limpiar y preprocesar los datos para asegurarse de que estén listos para su análisis.

# Importar librerias
import pandas as pd
import kaggle as kg
import zipfile

In [29]:
# Autenticar con Kaggle API
kg = kg.KaggleApi()
kg.authenticate()

In [32]:
# Descargar dataset de Kaggle utilizando la API
kg.dataset_download_files('aayushmishra1512/fifa-2021-complete-player-data')

# Descomprimir archivo descargado
with zipfile.ZipFile('fifa-2021-complete-player-data.zip', 'r') as zip_ref: #Con with creamos un contexto para trabajar con el archivo zip
    zip_ref.extractall('fifa_2021') # Y con extractall extraemos todos los archivos en la carpeta fifa_2021

Dataset URL: https://www.kaggle.com/datasets/aayushmishra1512/fifa-2021-complete-player-data

In [41]:
# Leer archivo csv twitchdata
df = pd.read_csv('twitchdata/twitchdata-update.csv', encoding='utf-8')
df.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English

In [40]:
# Leer archivo csv fifa_2021
df1 = pd.read_csv('fifa_2021/FIFA-21 Complete.csv', sep=';', encoding='utf-8')
df1.head()

,player_id,name,nationality,position,overall,age,hits,potential,team
0,158023,Lionel Messi,Argentina,ST|CF|RW,94,33,299,94,FC Barcelona
1,20801,Cristiano Ronaldo,Portugal,ST|LW,93,35,276,93,Juventus
2,190871,Neymar Jr,Brazil,CAM|LW,92,28,186,92,Paris Saint-Germain
3,203376,Virgil van Dijk,Netherlands,CB,91,29,127,92,Liverpool
4,200389,Jan Oblak,Slovenia,GK,91,27,47,93,Atlético Madrid

In [47]:
# Verificar si hay valores nulos en los csv
# print(df.isnull().sum())
# print()
print(df1.isnull().sum())

player_id      0
name           0
nationality    0
position       0
overall        0
age            0
hits           0
potential      0
team           0
dtype: int64

In [46]:
# exportar los dataframes a csv
df.to_csv('data/twitchdata.csv', index=False)
df1.to_csv('data/FIFA21.csv', index=False)